{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет, я автор</h1>
  <p>
    <table width="100%" cellspacing="0" cellpadding="5">
        <tr> 
         <td width="300" valign="top">
            <h2>Ссылки</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="https://github.com/sh-dari">Ссылка на мой GitHub</a>
                </li>
                <li class="list-group-item">
                  <a href="https://t.me/sh_dariii">Ссылка на Telegram</a>
                </li>
            </ul>
         </td>
        </tr>
    </table>        
  </p>
</div>
{% endblock %}
